<h3>
    <div *ngIf="trabajadorExterno == true">
        <button (click)="cambiarExterno(false)">Mostrar trabajador</button>
        <ul >
            <li>
                {{trabajadores[0].nombre}}   
    
            </li>
            
            <li>
                {{trabajadores[0].edad}}   
    
            </li>
            
            <li>
                {{trabajadores[0].cargo}}   
    
            </li>
            
            <li *ngIf="trabajadores[0].contratado == true">
                Está contratado
    
            </li>
            <li *ngIf="trabajadores[0].contratado == false">
                NO Está contratado
    
            </li>
        </ul>
    </div>

    <div *ngIf="trabajadorExterno == false">
        <button (click)="cambiarExterno(true)">Mostrar empleado</button>

        <ul >
            <li>
                {{empleado.nombre}}   
    
            </li>
            
            <li>
                {{empleado.edad}}   
    
            </li>
            
            <li>
                {{empleado.cargo}}   
    
            </li>
            
            <li *ngIf="empleado.contratado == true">
                Está contratado   
    
            </li>
    
            <li *ngIf="empleado.contratado == false">
                No Está contratado   
    
            </li>
    
        </ul>
    </div>


    <h3>Listado de empleados:</h3>
    <ul>
        <li *ngFor="let empleado of trabajadores; let i = index">
            <strong>Empleado {{i + 1}}:</strong> 
            <ul>
                <li>
                    {{empleado.nombre}}   
        
                </li>
                
                <li>
                    {{empleado.edad}}   
        
                </li>
                
                <li>
                    {{empleado.cargo}}   
        
                </li>
                
                <li *ngIf="empleado.contratado == true">
                    Está contratado   
        
                </li>
        
                <li *ngIf="empleado.contratado == false">
                    No Está contratado   
        
                </li>
            </ul>
        </li>
    </ul>


</h3>
<hr/>
<h3>
    Colores switch
</h3>

<ul [ngSwitch]="color" [ngStyle]="{'background':color,'color':'white'}">
    <li *ngSwitchCase="'red'">
        Es de color rojo

    </li>
    <li *ngSwitchCase="'blue'">
        blumangru
    </li>

</ul>

<hr/>
<h3>
    Selector de colores
</h3>

<input type="text" [(ngModel)]="color_seleccionado" /> 
<pre [style.border] ="color_seleccionado == 'red' ? '5px solid black' : '1px solid white'"
    [ngClass]="{
        fondoAzul : color_seleccionado == 'blue',
        fondoVerde : color_seleccionado == 'green'
    }">
    {{color_seleccionado}}
</pre>
<div [ngStyle]="{
    'background':color_seleccionado,
    'width':'200px',
    'height':'200px',
    'float':'right',
    'margin-right':'50%',
    'margin-bottom':'10%'}"></div>
<div class="clear:both"></div>