<h2 style="color:black">{{title}}</h2>

<br/>
{{fecha|date:'dd/MM/yy'}}
-
{{fecha|date:'fullDate' | uppercase}}
-
{{nombre | uppercase}}
-
{{5 | conversor:7}}

<br/>
<h2>Listado de prenda de ropas</h2>
<ul>
    <li *ngFor="let prenda of listado_ropa ; let i = index">
        {{prenda}} - <button (click)="deleteRopa(i)">Borrar elemento</button>
    </li>
</ul>
<hr>
<input type="text" [(ngModel)]="prenda_a_guardar" />
<button (click)="addRopa(prenda_a_guardar)">Agregar Ropa</button>
<p *ngIf="prenda_a_guardar">La prenda a guardar es : <strong>{{prenda_a_guardar}}</strong></p>